@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --bgcolor: rgb(0, 179, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px double rgb(0, 179, 0);
  flex-basis: 10%;
  flex-grow: 0;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--bgcolor);
  color: white;
  height: 1.2rem;
}
.topnav h6 {
  letter-spacing: 1px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 4rem;
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navlinks a {
  font-size: 0.8rem;
  color: black;
}

nav h3 {
  font-size: 1rem;
  font-weight: 600;
  font-variant: small-caps;
  cursor: pointer;
}

.hamburger {
  display: none;
}
/*********************************
 *       landing section         *
 *********************************/
.landing {
  position: relative;
  z-index: -10;
  flex-basis: 90%;
  height: inherit;
  overflow: hidden;
}
.landing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.landing .landing-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  border: 1px solid white;
  padding: 2rem 0rem;
}
.landing-txt h2 {
  font-size: 3rem;
  font-variant: small-caps;
  opacity: .7;
}
.landing-txt p {
  font-variant: small-caps;
  letter-spacing: 1px;
}
/***********************************************
*               Second Section                 *
************************************************/ 
section.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
  flex-basis: 100%;
  gap: 4rem;
  flex-wrap: wrap;
}
.card {
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
  max-width: 320px;
  flex-basis: 33%;
}
.card img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  object-position: center;
}
.cardtxt {
  padding: 1rem 0rem;
}
.cardtxt h2 {
  font-variant: small-caps;
  font-size: .8rem;
  padding-bottom: .3rem;
  text-align: center;
}
.cardtxt p {
  font-size: .7rem;
  /* letter-spacing: 1px; */
  text-align: justify;
}
/************************************************
 *           Section for about Bella            *
*************************************************/
.sec {
  background: var(--bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  padding: 3rem 4rem;
  gap: 3rem;
}
.sec .sec-image {
  flex-basis: 40%;
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
}
.sec-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.sec .sectxt {
  flex-basis: 60%;
  color: white;
}
.sectxt h2 {
  font-variant: small-caps;
  padding-bottom: 1rem;
  text-align: center;
}
.sectxt p {
  font-size: .8rem;
  letter-spacing: 1px;
}
/* this is another section whhooa */
.athsec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
  flex-basis: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}
.athsec .athcard {
  flex-basis: 30%;
  min-width: 300px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 5px;
  border-bottom: 1px dotted var(--bgcolor);
}

.athcard img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  object-position: center;
}
.athcard .cardtxt h2 {
  font-size: 1rem;
}
.athcard .cardtxt p {
  font-size: .8rem;
}
.pricebtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.pricebtn h3 {
  letter-spacing: 1px;

}
.pricebtn button {
  padding: 7px;
  outline: none;
  border: none;
  background-color: var(--bgcolor);
  color: #ffffff;
} 
/* footer section */
footer {
  display: flex;
  background-color: var(--bgcolor);
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
}
footer ol {
  display: flex;
  gap: 1rem;

}
ol li {
  font-variant: small-caps;
  color: #ffffff;
}
ol li a {
  color: #ffffff;
  font-variant: normal;
}
.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;background-color: rgba(0, 0, 0, 0.712);
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  transform: scale(0);
  transition: all .6s ease;
}
.blur {
  opacity: 1;
  transform: scale(1);
}
.modal-card {
  width: 320px;
  /* height: 350px; */
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 2.5rem 2rem;
}
.close {
  pointer-events: all;
  position: absolute;
  right: 1.72rem;
  top: 1rem;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
input,
textarea {
  pointer-events: all;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
textarea {
  resize: none;
  width: 100%;
}
form button {
  background-color: var(--bgcolor);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  pointer-events: all;
}
@keyframes zoomin {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/************************************************
*    Navigation Media Query for width of 700px  *
*************************************************/
@media screen and (max-width: 700px) {
  nav {
    border: none;
    background: var(--bgcolor);
    height: 10vh;
  }

  /* To make the top banner disappear */
  .topnav {
    display: none;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  h3.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #ffffff;
    z-index: 1;
    font-size: 1.3rem;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    background-color: var(--bgcolor);
    height: 100vh;
    padding: 0;
    transform: translateY(-100%);
    transition: all 1s ease;
  }

  /* Make Nav slide down when clicked */
  .active {
    transform: translateY(0);
  }

  .navlinks a {
    color: white;
  }

  .hamburger {
    width: 2rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger span {
    background-color: rgb(255, 255, 255);
    height: 1.2px;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .sec {
    display: flex;
    flex-direction: column;
  }
  .sec-image {
    max-width: 300px;
    min-width: 300px;
    height: 1.9rem;
  }
  .pricebtn {
    flex-direction: column;
    align-items: flex-start;
  }
}
